.container {
    position: relative;
  }
  
  .bg { 
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-color: #c3986d;
  }
  .photo{
    width: 50%;
    height: 100%;
    position: absolute;
     top: 50px;
     right: 0%;
  }
  .original{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 50px;
    color: #c3986d ;
  }
  .org{
    position: absolute;
    top: 150px;
    left: 16px;
    font-size: 20px;
    color: black ;
  }
  .srh1{
    top: 460px;
    left: 60px;
  }
  
  .box form{
    background-color: #e8e1d9;
    border-radius: 150px;
    padding: 10px;
    width: 25%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 400px;
    left: 50px;
    
  }
  .box form FaSearch{
    padding: 10px;
    color: #e78626;
  }
  .box form input[type="search"]{
    flex: 1;
    min-width: 0;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0px 5px;
  }
  .box form input[type="submit"]{
    background-color: #c3986d;
    color: aliceblue;
    border-radius: 150px;
    padding: 15px;
    font-weight: 700;
    border: none;
  }
  .box form input[type="submit"]:hover{
    background-color: #e78626;
    cursor: pointer;
  }
@media (max-width:991px){
  .photo .origin.org{
    padding-left: 0;
  }
} 
@media (max-width: 168px){
  
}